.product-grid {
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    gap: 20px;
}

.product-card {
    &__wrapper {}
    &__figure {
        height: 200px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
        margin-bottom: 18px;
    }
    &__tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        margin-bottom: 10px;
    }
    &__title {
        font-size: 14px;
    }
    &__bottom {
        margin-top: 22px;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    &__price {
        font-size: 20px;
    }
}
