.preloader {
    position: relative;
    pointer-events: none;

    &::after {
        content: '';
        box-sizing: border-box;
        display: block;
        position: absolute;
        border-radius: 50%;
        z-index: 10;
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        border-color: var(---main-color);
        top: 50%;
        left: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;

        border-width: 2px;
        border-style: solid;
        border-left: 2px solid rgba(255, 255, 255, 0);
    }

    &::before {
        @apply block absolute inset-0 bg-white bg-opacity-5;
        z-index: 2;
        content: '';
    }
}
